html {
	font: normal 62.5%/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

html,
body {
	height: 110%;
}

/* Flexin' it */
main {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	overflow: hidden;
}

/* Header bar */
header {
	padding: 2rem;
	color: #f0f0f0;
	font-size: 2.5rem;
	font-weight: bold;
	top: 0;
	background-color: rgba(0, 0, 0, .9);
	flex: 0 0 0;
}

/* Circle visualisation */
div#visualisation {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 42rem;
	position: relative;
}

div#user-circle {
	width: 23rem;
	height: 23rem;
	border-radius: 30rem;
	background-color: #B9316E;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 2.5rem;
	font-weight: bold;
	color: #791240;
	
	position: relative;
}

div#perimetre {
	width: 30rem;
	height: 30rem;
	border-radius: 30rem;
	background-color: rgba(45, 45, 45, .15);
	display: flex;
	justify-content: center;
	align-items: center;
	
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transform-origin: center center;
	
	animation: pulse 1s ease-in-out 0s infinite alternate;
}

@keyframes pulse {
	from {
		transform: translateX(-12%) translateY(-11.5%) scale(1.2);
	}
	
	to {
		transform: translateX(-12%) translateY(-11.5%);
	}
}

/* Little circles */
ul#little-circles {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	position: absolute;
}

ul#little-circles li {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	cursor: pointer;
	z-index: 100;
	background-color: #000000;
	position: relative;
}

ul#little-circles li.selected:before {
	content: '';
	display: block;
	width: 3.5rem;
	height: 3.5rem;
	position: absolute;
	top: -0.6rem;
	left: -0.6rem;
	z-index: -1;
	border: 1px solid;
	border-radius: 30rem;
}

ul#little-circles li#circle-0 {
	top: 10%;
	left: 30%;
}

ul#little-circles li#circle-1 {
	top: 30%;
	left: 20%;
}

ul#little-circles li#circle-2 {
	top: 10%;
	left: 80%;
}

ul#little-circles li#circle-3 {
	top: 30%;
	left: 75%;
}

ul#little-circles li#circle-4 {
	top: 60%;
	left: 35%;
}

/* Tracks */
div#song-list,
div#single-song-menu {
	flex: 1 0 0;
	position: absolute;
	width: 100%;
	transition: bottom 0.4s ease-in-out;
}

div#single-song-menu {
	position: fixed;
}

div#song-list h1,
div#single-song-menu h1 {
	color: #000000;
	padding-left: 2.5rem;
	font: bold 2.5rem/2 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

div#song-list ul,
div#single-song-menu div#single-song {
	background-color: #000000;
}

div#song-list ul li,
div#single-song-menu div#single-song {
	font-size: 2.2rem;
	text-transform: uppercase;
	padding: 2.5rem 2.5rem 2.5rem 2.5rem;
	
	display: flex;
	flex-direction: row;
	align-items: center;
}

div#song-list ul li div.song-colour,
div#song-list ul li div.preview,
div#single-song-menu div.song-colour, 
div#single-song-menu div.preview {
	width: 5rem;
	height: 5rem;
}

div#song-list ul li div.song-colour,
div#single-song-menu div.song-colour {
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	background-color: #ffffff;
}

div#song-list ul li div.info,
div#single-song-menu div.info {
	flex: 1 0 0;
	margin-left: 3rem;
}

/* Song title */
div#song-list ul li div.info span.title,
div#single-song-menu div.info span.title {
	display: block;
	color: #f0f0f0;
	text-transform: none;
	margin-bottom: 0.5rem;
}

div#song-list ul li div.info span.artist,
div#single-song-menu div.info span.artist {
	color: #888888;
	font-size: 1.5rem;
}

div#song-list ul li div.preview,
div#song-list ul li a.add,
div#song-list ul li a.added,
div#single-song-menu div.preview,
div#single-song-menu a.add,
div#single-song-menu a.added {
	border-radius: 100%;
	font-size: 1.2rem;
	cursor: pointer;
	color: #777777;
	text-transform: none;
	border: 0.2rem solid #555555;
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5.3rem;
	height: 5.3rem;
	transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

div#song-list ul li a.add,
div#song-list ul li a.added,
div#single-song-menu a.add,
div#single-song-menu a.added {
	margin-left: 2rem;
	background: url('../img/add.svg') no-repeat center center/30%;
}

div#song-list ul li a.added,
div#song-list ul li a.added:hover,
div#song-list ul li a.added:focus,
div#single-song-menu a.added,
div#single-song-menua.added:hover,
div#single-song-menu a.added:focus {
	border-color: #1ED760;
	background-size: 40%;
	background-image: url('../img/added.svg');
}

div#song-list ul li div.preview:hover,
div#song-list ul li div.preview:focus,
div#song-list ul li a.add:hover,
div#song-list ul li a.add:focus,
div#single-song-menu div.preview:hover,
div#single-song-menu div.preview:focus,
div#single-song-menu a.add:hover,
div#single-song-menu a.add:focus {
	color: #f0f0f0;
	border-color: #f0f0f0;
}