html {
	font: normal 62.5%/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

html,
body {
	height: 100%;
}

/* Flexin' it */
body {
	display: flex;
	flex-direction: column;
}

/* Header bar */
header {
	padding: 2rem;
	color: #f0f0f0;
	font-size: 2.5rem;
	font-weight: bold;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: rgba(0, 0, 0, .9);
	flex: 0 0 0;
}

/* Circle visualisation */
div#visualisation {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 42rem;
}

div#perimetre {
	width: 30rem;
	height: 30rem;
	border-radius: 100%;
	background-color: rgba(45, 45, 45, .15);
	display: flex;
	justify-content: center;
	align-items: center;
}

div#user-circle {
	width: 23rem;
	height: 23rem;
	border-radius: 100%;
	background-color: #B9316E;
	animation: pulse 1s ease-in-out 0s infinite alternate;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 2.5rem;
	font-weight: bold;
	color: #791240;
}

@keyframes pulse {
	from {
		width: 22rem;
		height: 22rem;
	}
	
	to {
		width: 23rem;
		height: 23rem;
	}
}

div#little-circles ul li {
}

/* Tracks */
div#song-list {
	flex: 1 0 0;
}

div#song-list h1 {
	color: #000000;
	padding-left: 2.5rem;
	font: bold 2.5rem/2 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

div#song-list ul {
	background-color: #000000;
}

div#song-list ul li {
	font-size: 2.2rem;
	text-transform: uppercase;
	padding: 2.5rem 2.5rem 2.5rem 2.5rem;
	
	display: flex;
	flex-direction: row;
	align-items: center;
}

div#song-list ul li div.song-colour,
div#song-list ul li div.preview {
	width: 5rem;
	height: 5rem;
}

div#song-list ul li div.song-colour {
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	background-color: #ffffff;
}

div#song-list ul li div.info {
	flex: 1 0 0;
	margin-left: 3rem;
}

/* Song title */
div#song-list ul li div.info span.title {
	display: block;
	color: #f0f0f0;
	text-transform: none;
	margin-bottom: 0.5rem;
}

div#song-list ul li div.info span.artist {
	color: #888888;
	font-size: 1.5rem;
}

div#song-list ul li div.info span.artist {
	color: #888888;
	font-size: 1.5rem;
}

div#song-list ul li div.preview,
div#song-list ul li div.add,
div#song-list ul li div.added {
	border-radius: 100%;
	font-size: 1.2rem;
	cursor: pointer;
	color: #777777;
	text-transform: none;
	border: 0.2rem solid #555555;
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5.3rem;
	height: 5.3rem;
	transition: all 0.2s ease-in-out;
}

div#song-list ul li div.add,
div#song-list ul li div.added {
	margin-left: 2rem;
	background: url('../img/add.svg') no-repeat center center/30%;
}

div#song-list ul li div.added,
div#song-list ul li div.added:hover,
div#song-list ul li div.added:focus {
	border-color: #1ED760;
	background-size: 40%;
	background-image: url('../img/added.svg');
}

div#song-list ul li div.preview:hover,
div#song-list ul li div.preview:focus,
div#song-list ul li div.add:hover,
div#song-list ul li div.add:focus {
	color: #f0f0f0;
	border-color: #f0f0f0;
}