html {
	font: normal 62.5%/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	padding: 2rem;
	color: #ffffff;
	font-size: 2.5rem;
	font-weight: bold;
	background-color: #02050C;
}

div#visualisation {
	width: 100%;
	height: 42rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

div#perimetre {
	width: 28rem;
	height: 28rem;
	border-radius: 100%;
	background-color: #ededed;
	display: flex;
	justify-content: center;
	align-items: center;
}

div#user-circle {
	width: 23rem;
	height: 23rem;
	border-radius: 100%;
	background-color: #B9316E;
	animation: pulse 1s ease-in-out 0s infinite alternate;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 2.5rem;
	font-weight: bold;
	color: #791240;
}

@keyframes pulse {
	from {
		width: 22rem;
		height: 22rem;
	}
	
	to {
		width: 23rem;
		height: 23rem;
	}
}

div.little-circles {
}